
/*Regole di reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Regole generiche*/
img{
    max-width: 100%;
}

main {
    background-color: #f6f8f9;
    padding: 15px;
}

ul, ol {
    list-style: none;
    margin-bottom: 15px;
    line-height: 30px;
}

.container{
    background-color: white;
    margin: 35px auto;
    max-width: 980px;
    border-radius: 4px;
}

/*Header*/

.header {
    padding: 10px; 
}

.title {
    font-weight: 900;
    font-size: 35px;
    vertical-align: middle;
}

.header img {
    vertical-align: middle;
    padding: 5px 0;
}

/*Sezione: buttons*/

#bar{
    margin-left: 35px;
    padding: 8px;
    border-bottom: 3px solid #f6f8f9;
}

.button {
    padding: 5px;
    font-size: 11px;
    border-radius: 6px;
    border: 1px solid;
    vertical-align: middle;
}

.task {
    background-color: #14aaf5;
    color: white;
}

.section {
    border-color: #c4cbd0;
    color: #c4cbd0;
    background-color: white;
}

/*Liste*/
#lists {
    margin-left: 35px;
    padding: 20px 8px;
}

.list-title {
    font-weight: 900;
    font-size: 20px;
    color: #434851;
}

.arrow {
    font-weight: 900;
    font-size: 10px;
    color: #434851;
    vertical-align: middle;
    line-height: 10px;
}

/*Simboli*/
.check{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px; 
    color: green;
    border: 1px green solid;
}

.cross{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    color: red;
    border: 1px red solid;
}

.label{
    padding: 3px 8px;
    font-size: 11px;
    border-radius: 30px;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    margin: 0 3px 0 3px;
    color: white;
}

.blue {
    background-color: #09a9ed;
}

.violet{
    background-color: #ab5de6;
}
.green{
    background-color: #2cc6ab;
}

.orange{
    background-color: #ff9b00;
}

.pink{
    background-color: #ec4a9d;
}

.acid {
    background-color: #a3d116;
}